<!-- portfolio/templates/portfolio/home.html -->
{% extends 'base.html' %}
{% block title %}Home | Aynal Haque{% endblock %}

{% block content %}
<h1 class="text-center">I am Aynal Haque</h1>

<h3 class="mt-4">My Projects</h3>
<div class="row">
  {% for project in projects %}
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <img src="{{ project.image.url }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          {% if project.url %}
          <a href="{{ project.url }}" class="btn btn-primary">View</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h3 class="mt-5">My Skill</h3>
{% for skill in skills %}
  <h5>{{ skill.name }}</h5>
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" style="width: {{ skill.percentage }}%;" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100">{{ skill.percentage }}%</div>
  </div>
{% endfor %}
{% endblock %}
